<nav class="navbar shadow-lg">
    <a href="/" class="navbar-brand">
        <span class="badge font-size-12 text-monospace px-5 px-sm-10">
            {{ site.title }}
        </span>
    </a>
    <div class="navbar-content">
        <button class="btn btn-square btn-rounded" type="button" onclick="zxce3.toggleDarkMode()"
            aria-label="Toggle dark mode">
            <i class="bi bi-moon" aria-hidden="true"></i>
        </button>
    </div>
    <ul class="navbar-nav ml-auto">
        {%- for pg in site.pages -%}
            <li class="nav-item">
                <a href="{{ pg.url | relative_url }}" class="nav-link">{{ pg.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
</nav>