<div class="content card border-0 m-0 position-lg-sticky top-lg-0 left-lg-0 py-card my-0">
    <h2 class="content-title">Table of content</h2>
    {%- include toc.liquid html=content sanitize=true id="s" h_min=1 h_max=5 submenu_class="border-bottom" -%}
</div>